:root {
    --primary: ;
    --secondary1: ;
    --secondary2: ;
    --accent1: ;
    --accent2: ;

    --baby-blue: #e7f2f8;
    --aquamarine: #74bdcb;
    --accent: #ffa384;
    --freesia: #efe7bc;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: var(--baby-blue);
    color: var(--aquamarine)
}

header {
    background-color: var(--baby-blue);
    padding: 1rem;
    color: var(--aquamarine)
}

h1 {
    margin: 0;
}

nav {
    background-color: var(--freesia);
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

nav a {
    color: var(--accent);
    text-decoration: none;
}

nav a:hover {
    color: var(--accent);
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

footer {
    background-color: var(--freesia);
    color: var(--accent);
    padding: 1rem;
    text-align: center;
}
